body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0D0B14;
  color: #E8E3F0;
}

.home-wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #1B1625;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #A29BFE;
  margin-top: 0%;
}

.logo-icon {
  width: 40px;
  margin-left: 1rem;
  margin-right: 0.75rem;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 4rem 2rem;
  gap: 3rem;
}

.hero-img {
  width: 385px;
  border-radius: 12px;
  padding-top: 5rem;
}

.hero-text h1 {
  font-size: 4rem;
  color: #E8E3F0;
  margin-bottom: 0rem;
  line-height: 1.1; 
}

.hero-text p {
  color: #B19CD9;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-button {
  background-color: #6C5CE7;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.hero-button:hover {
  background-color: #4B3F72;
}
